
<h3>Iniciar Sesión</h3>

<form action="/login" method="post">
    <label for="email">Email:</label>
    <input type="email" name="email"></br>
    <label for="pwd">Constraseña:</label>
    <input type="password" name="pwd"></br>
    <button type="submit">Iniciar sesión</button>
</form>
<a href="/register">Registrate!</a>