<h3>Register</h3>
<form action="/register" method="post">
    <label for="name">Nombre: </label>
    <input type="text" name="name" id="" required><br>
    <label for="last">Apellido: </label>
    <input type="text" name="last" id="" required><br>
    <label for="email">Email: </label>
    <input type="email" name="email" id="" required><br>
    <label for="pwd">Contraseña: </label>
    <input type="password" name="pwd" id="" required><br>
    <label for="tel">Teléfono: </label>
    <input type="tel" name="tel" id="" required><br>
    <label for="pais">Pais: </label>
    <input type="text" name="pais" id="" required><br>
    <label for="prov">Provincia: </label>
    <input type="text" name="prov" id="" required><br>
    <label for="dir">Dirección:</label>
    <input type="text" name="dir" id="" required><br>
    <button type="submit">Registrarse</button>
</form>
<a href="/login">Iniciar sesión</a>
